.container {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-auto-rows: minmax(150px, auto);
  padding: 10px;
  grid-gap: 10px;
}

.item {
  width: 80px;
  height: 40px;
  border: 1px solid black;
}

.item1 {
  background-color: #ef9a9a;
}

.item2 {
  background-color: #f48fb1;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-end: 1;
  grid-row-start: 3;
}
.item3 {
  background-color: #ce93d8;
}
.item4 {
  background-color: #c69aef;
}
.item5 {
  background-color: #9aa0ef;
}
.item6 {
  background-color: #9ae9ef;
}
.item7 {
  background-color: #0c8a3c;
}
.item8 {
  background-color: #c0ef9a;
}
.item9 {
  background-color: #e2ef9a;
}
.item10 {
  background-color: #888a0c;
}
